<div class="container">
  <div class="row">
    <div class="post_item_show col">
      <%= link_to @post.category.name, category_path(@post.category.id), class: "post_category_link btn btn-outline-primary" %>
      <h3 class=""><%= @post.title %>  <span class="badge badge-secondary"> New</span></h3>
      <div class="past_body_wrap_show">
        <p><%= @post.body %></p>
        <%# if @post.file.present? %>
<!--          <img src="<%#= @post.file %>" alt="<%#= @post.title %>">-->
        <%#end %>

      </div>
      <hr>
      <div class="post_bottom">
        <p><%= @post.created_at.strftime("%Y-%m-%d, %H:%M") %></p>
        <p><%= @post.user.email%></p>
      </div>
    </div>
  </div>
  <div class="row function_btn_wrap">
    <div class="col">
      <%= link_to 'Редагувати пост', edit_post_path(@post.id), class: "btn btn-warning" %>
      <%= link_to 'Видалити пост', post_path(@post.id), class: "btn btn-danger", method: :delete, data: {confirm: "Видалити пост"} %>
    </div>

  </div>

  <div class="row flex_column">
    <div class="col comment_js">
      <% @post.comments.each do |c| %>
        <%= render "layouts/comments", c: c %>
      <% end %>
    </div>
  </div>
  <h2>Новый коммент</h2>
  <div class="errors_wrap"></div>

  <%= form_for([@post, @post.comments.build],:html=>{:remote=>true, class: "comment_form"}) do |f| %>
    <div class="form-group">
      <label for="FormControlTextarea">Тело коммента</label>
      <%= f.text_area :text, class: "form-control", id: "FormControlTextarea" %>
    </div>
    <%= f.hidden_field :post_id, value: @post.id %>
    <%= f.hidden_field :user_id, value: @user.id %>
    <%= f.submit "Создать коментарий", class: "btn btn-primary" %>
  <% end %>
</div>