<div class="container">
  <div class="row">
    <div class="post_item_show col">
      <h3 class=""><%= @category.name %></h3>
      <%= link_to 'Редагувати категорію', edit_category_path(@category.id), class: "btn btn-warning" %>
      <%= link_to 'Видалити категорію', category_path(@category.id), class: "btn btn-danger", method: :delete, data: {confirm: "Видалити категорію"} %>
      <hr>
    </div>
  </div>

    <div class="row categories_show_wrap">
      <div class="col">
        <% @posts.each do |p| %>
          <h4><%=p.title %></h4>
          <p><%= p.body %></p>
          <div class="btn_wrap">
            <%= link_to 'Читати детальніше...', post_path(p.id), class: "btn btn-primary" %>
            <div class="badge_wrap"><% if @time_now.to_i - p.created_at.to_i < 86000 %><span class="badge badge-secondary">New</span><% end %></div>
          </div>
          <hr>
          <div class="post_bottom">
            <p><%= p.created_at.strftime("%Y-%m-%d, %H:%M") %></p>
            <p><%= p.user.email%></p>
          </div>
        <% end %>
      </div>
    </div>
</div>
