%nav.navbar.navbar-expand-md.navbar-dark.bg-dark.fixed-top
  %a.navbar-brand{href: "#"} Блог
  %button.navbar-toggler{"aria-controls" => "navbarsExampleDefault", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarsExampleDefault", "data-toggle" => "collapse", type: "button"}
    %span.navbar-toggler-icon
  #navbarsExampleDefault.collapse.navbar-collapse
    %ul.navbar-nav.ml-auto
      %li.nav-item.active
        = link_to 'Main page', root_path, class: "nav-link"
      %li.nav-item.active
        = link_to 'Categories', categories_path, class: "nav-link"
      %li.nav-item.active
        = link_to 'New post', new_post_path, class: "nav-link"
      %li.nav-item.active
        = link_to 'New category', new_category_path, class: "nav-link"
      %li.nav-item.active
        - if user_signed_in?
          %span.nav-link.user_email_style= current_user.email
      %li.nav-item
        - if user_signed_in?
          = link_to('Log out', destroy_user_session_path, method: :delete, class: "btn btn-warning")
        - else
          = link_to('Log in', new_user_session_path, class: "btn btn-primary")